/* Website Styles */

*{
  font-size: 100%
}
p {

 p {
  color: green;
}

body{
background-color: grey;
color: black;
}
h1 {
  color: blue;
}
 h2 {
font :family: 'Lato', Arila , Sans-serfi;
background-color: grey; */
   color: black;
 }
